/****************************
       Sprite Editor
****************************/

.sprite-editor {
  display: flex;
  flex-wrap: wrap;
}

/****************************
           Tools
****************************/

.sprite-editor__tools {
  flex: 1 1 auto;
  width: 100%;
  padding: 0.2rem;
  background: #222;
}

.sprite-editor__tools .sprite-editor__tool {
  background: #222;
}

/****************************
            View
****************************/

.sprite-editor__view {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 340px;
  background: #333;
}

.sprite-editor__canvas {
  background: url('data:sprite/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKUlEQVQoU2NkYGAwZkAD////RxdiYBwKCv///4/hGUZGkNNRAeMQUAgAtxof+nLDzyUAAAAASUVORK5CYII=');
  border: 1px solid black;
}

/****************************
          Sprites
****************************/

.sprite-editor__sprites {
  --sprites-background-color: #eee;
  --sprites-frame-size: 32px;
  --sprites-frame-gap: 8px;
  --sprites-frames-per-row: 6;

  /*
   Calculate the width to perfectly fit the tiles.
   Number of tiles + their gap + the container gap.
   */
  width: calc(
    var(--sprites-frame-gap) + (var(--sprites-frame-size) + var(--sprites-frame-gap)) *
      var(--sprites-frames-per-row)
  );

  background: var(--sprites-background-color);
}

.sprite-editor__sprite {
  transition: background-color 0.2s;
  background: var(--sprites-background-color);
  padding: var(--sprites-frame-gap) 0 var(--sprites-frame-gap) var(--sprites-frame-gap);
}
.sprite-editor__sprite--active {
  --sprites-background-color: #fff;
}

.sprite-editor__sprite-name {
  margin-bottom: var(--sprites-frame-gap);
  width: calc(100% - var(--sprites-frame-gap));
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}
.sprite-editor__sprite-name:hover:not(:focus) {
  color: cornflowerblue;
}
.sprite-editor__sprite-name:focus {
  font-weight: normal;
  background: #000;
  color: #fff;
  outline: none;
  cursor: default;
}

.sprite-editor__add-frame,
.sprite-editor__sprite-frame {
  transition: box-shadow 0.2s;
  display: inline-block;
  padding: 0;
  margin: 0 var(--sprites-frame-gap) var(--sprites-frame-gap) 0;
  width: var(--sprites-frame-size);
  height: var(--sprites-frame-size);
  vertical-align: middle;
  text-align: center;
  font-size: calc(var(--sprites-frame-size) * 0.5);
  border: none;
  line-height: var(--sprites-frame-size);
  cursor: pointer;
}
.sprite-editor__sprite-frame--active {
  box-shadow: 0 2px 0 var(--sprites-background-color), 0 6px 0 #000;
}

.sprite-editor__sprite-frame-canvas {
  width: 100%;
}

.sprite-editor__add-frame {
  background: rgba(0, 0, 0, 0.1);
  color: #333;
}
.sprite-editor__add-frame:hover {
  background: #000;
  color: #fff;
}
